@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg1: #033a58;
  --bg2: #011224;
  --dark-font: #3A4C54;
  --light-font: #fbfdfe;
  --blue-font: #1757d6;
  --border-color: #536269;
  --scissors1: #FF8100;
  --scissors2: #a55204;
  --spock1: #00FF7D;
  --spock2: #04b175;
  --lizard1: #993AFF;
  --lizard2: #7029b2;
  --rock1: #ff3a3a;
  --rock2: #b22929;
  --paper1: #0099E6;
  --paper2: #044e80;
  --custom-shadow-color: rgba(0, 0, 0, 0.3)
}


body {
  color: var(--light-font);
  background: radial-gradient(at top, var(--bg1), var(--bg2));
}
